{{player.name}} {{strongLevel}} {{weapon.name}} по {{targetOrgan.name}} {{target.name}}
{{#isTornAway}}
	{{targetOrgan.name}} {{target.name}} оторвало
{{/isTornAway}}
{{#isDie}}
	{{target.name}} больше не дышит
{{/isDie}}
