{{#isMiss}}
{{player.name}} промазал {{weapon.name}} по {{targetOrgan.name}} {{target.name}}
{{/isMiss}}
{{^isMiss}}
{{player.name}} бьет {{weapon.name}} по {{targetOrgan.name}} {{target.name}}
{{/isMiss}}
{{^targetOrgan.dynamic}}
	{{targetOrgan.name}} {{target.name}} оторвало
{{/targetOrgan.dynamic}}
{{#target.isDie}}
	{{target.name}} больше не дышит
{{/target.isDie}}
