
**h**elp - эта подсказка
**p**ing - проверка соединения
**с**писок - список созданных миров
создать PROTOTYPE GROUP - создать новый мир
**в**ойти ID GROUP - войти в существующий мир участником группы
