ping - проверка соединения
осмотреть - получить информацию о текущем местоположении
осмотреть себя - получить информацию о своем состоянии
осмотреть NAME - получить информацию о состоянии объекта
пойти NAME - перейти в локацию
ударить WEAPON по ORGAN у OBJECT - ударить кого-то
выйти - выйти из текущего мира (все достижения будут удалены)
