
**h**elp - эта подсказка
**p**ing - проверка соединения
**з**адачи - список текущих задач
**о**смотреть - получить информацию о текущем местоположении
**о**смотреть себя - получить информацию о своем состоянии
**о**смотреть NAME - получить информацию о состоянии объекта
**п**ойти NAME - перейти в локацию
**у**дарить WEAPON по ORGAN у OBJECT - ударить кого-то
**ж**дать - пропустить ход
**в**ыйти - выйти из текущего мира (все достижения будут удалены)
