ping - проверка соединения
осмотреть себя - получить информацию о своем состоянии
осмотреться - получить информацию о текущем местоположении
пойти NAME - перейти в локацию
ударить WEAPON по ORGAN у OBJECT - ударить кого-то
выйти - выйти из текущего мира (все достижения будут удалены)
