{{#target.isDie}}
Труп {{target.name}}
{{/target.isDie}}
{{^target.isDie}}
{{target.name}} {{#tl}}endurance_{{target.currentEndurance}}{{/tl}}
{{/target.isDie}}

{{#organs}}
	{{name}} [{{mass}}]
	{{#tl}}damage_{{damage}}{{/tl}}
{{/organs}}
